<!DOCTYPE html>
<html>
  <head>
    <title>AORRA Graph Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <style type="text/css">
    .total-100 td input {
      text-align: right;
    }

    form img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    form div.svg svg {
      width: 100%;
      height: 100%;
    }

    form .thumbnail img {
      display: inline;
    }

    table .control-label {
      margin-right: 18px;
    }

    </style>
  </head>
  <body>
    <div class="container-fluid">
    <h1>Chart Examples</h1>
    <form id="progress-chart" class="form-horizontal">
      <fieldset>
        <legend>Progress Chart</legend>
        <div class="row">
          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="tl">Top Left Text</label>
              <div class="controls">
                <input class="span3" type="text" name="tl" value="Horticulture"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="tr">Top Right Text</label>
              <div class="controls">
                <input class="span3" type="text" name="tr" value="2013 targets"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="value">Value</label>
              <div class="controls">
                <div class="input-append">
                  <input class="span1 text-right"
                    type="text" name="value" value="42"/>
                  <span class="add-on">%</span>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="max">Max</label>
              <div class="controls">
                <div class="input-append">
                  <input class="span1 text-right"
                    type="text" name="max" value="100"/>
                  <span class="add-on">%</span>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="width">Dimensions</label>
              <div class="controls">
                <div class="input-append">
                  <input class="span1 text-r21.0ight" type="text" name="width"/>
                  <span class="add-on">px</span>
                </div>
                &times;
                <div class="input-append">
                  <input class="span1 text-right" type="text" name="height"/>
                  <span class="add-on">px</span>
                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button class="btn" type="submit">
                  <i class="icon-bar-chart"> </i>
                  Render
                </button>
              </div>
            </div>
          </div>
          <div class="span6">
            <ul class="thumbnails">
              <li>
                <div class="thumbnail">
                  <div class="svg"> </div>
                  <div class="caption text-center">
                    <p>As vector image (SVG)</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="thumbnail ">
                  <img class="png"/>
                  <div class="caption text-center">
                    <p>As rastered image (PNG)</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </fieldset>
    </form>
    <form id="grazing-practice-chart" class="form-horizontal">
      <fieldset>
        <legend>Grazing Practice Chart</legend>
        <div class="row">
          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="title">Title</label>
              <div class="controls">
                <input class="span3" type="text" name="title"
                  value="Grazing practices"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                <strong>Previous Report</strong>
              </label>
            </div>
            <div class="control-group">
              <label class="control-label" for="pLabel">
                <i title="Label" class="icon-tag"> </i>
              </label>
              <div class="controls">
                <input class="span3" type="text" name="pLabel"
                  value="2008-2009"/>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <table>
                  <thead>
                    <tr>
                      <th>A</th><th>B</th><th>C</th><th>D</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="total-100">
                      <!-- Previous -->
                      <td><input class="span1" type="text" name="pA" value="21.0"></td>
                      <td><input class="span1" type="text" name="pB" value="19.0"/></td>
                      <td><input class="span1" type="text" name="pC" value="37.0"/></td>
                      <td><input class="span1" type="text" name="pD" value="23.0"/></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                <strong>Current Report</strong>
              </label>
            </div>
            <div class="control-group">
              <label class="control-label" for="cLabel">
                <i title="Label" class="icon-tag"> </i>
              </label>
              <div class="controls">
                <input class="span3" type="text" name="cLabel"
                  value="2009-2010"/>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <table>
                  <thead>
                    <tr>
                      <th>A</th><th>B</th><th>C</th><th>D</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="total-100">
                      <!-- Previous -->
                      <td><input class="span1" type="text" name="cA" value="21.0"></td>
                      <td><input class="span1" type="text" name="cB" value="28.0"/></td>
                      <td><input class="span1" type="text" name="cC" value="32.0"/></td>
                      <td><input class="span1" type="text" name="cD" value="19.0"/></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button class="btn" type="submit">
                  <i class="icon-bar-chart"> </i>
                  Render
                </button>
              </div>
            </div>
          </div>
          <div class="span6">
            <img class="default"/>
          </div>
        </div>
      </fieldset>
    </form>
    <form id="land-practice-chart" class="form-horizontal">
      <fieldset>
        <legend>Land Practice Chart</legend>
        <div class="row">
          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="title">Title</label>
              <div class="controls">
                <input class="span3" type="text" name="title"
                  value="Sugarcane Practices Chart"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                <strong>Previous Report</strong>
              </label>
            </div>
            <div class="control-group">
              <label class="control-label" for="pLabel">
                <i title="Label" class="icon-tag"> </i>
              </label>
              <div class="controls">
                <input class="span3" type="text" name="pLabel"
                  value="2008-2009"/>
              </div>
            </div>
            <div class="control-group">
              <table>
                <thead>
                  <tr>
                    <th>%</th>
                    <th>A</th><th>B</th><th>C</th><th>D</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="total-100">
                    <th><label class="control-label">Nutrients</label></th>
                    <!-- Previous -->
                    <td><input class="span1" type="text" name="NpA" value="21.0"></td>
                    <td><input class="span1" type="text" name="NpB" value="19.0"/></td>
                    <td><input class="span1" type="text" name="NpC" value="37.0"/></td>
                    <td><input class="span1" type="text" name="NpD" value="23.0"/></td>
                  </tr>
                  <tr class="total-100">
                    <th><label class="control-label">Herbicides</label></th>
                    <!-- Previous -->
                    <td><input class="span1" type="text" name="HpA" value="28.0"/></td>
                    <td><input class="span1" type="text" name="HpB" value="50.0"/></td>
                    <td><input class="span1" type="text" name="HpC" value="16.0"/></td>
                    <td><input class="span1" type="text" name="HpD" value="6.0"/></td>
                  </tr>
                  <tr class="total-100">
                    <th><label class="control-label">Soil</label></th>
                    <!-- Previous -->
                    <td><input class="span1" type="text" name="SpA" value="30.0"/></td>
                    <td><input class="span1" type="text" name="SpB" value="40.0"/></td>
                    <td><input class="span1" type="text" name="SpC" value="19.0"/></td>
                    <td><input class="span1" type="text" name="SpD" value="11.0"/></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="control-group">
              <label class="control-label">
                <strong>Current Report</strong>
              </label>
            </div>
            <div class="control-group">
              <label class="control-label" for="cLabel">
                <i title="Label" class="icon-tag"> </i>
              </label>
              <div class="controls">
                <input class="span3" type="text" name="cLabel"
                  value="2009-2010"/>
              </div>
            </div>
            <div class="control-group">
              <table>
                <thead>
                  <tr>
                    <th>%</th>
                    <th>A</th><th>B</th><th>C</th><th>D</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="total-100">
                    <th><label class="control-label">Nutrients</label></th>
                    <!-- Current -->
                    <td><input class="span1" type="text" name="NcA" value="21.0"/></td>
                    <td><input class="span1" type="text" name="NcB" value="28.0"/></td>
                    <td><input class="span1" type="text" name="NcC" value="32.0"/></td>
                    <td><input class="span1" type="text" name="NcD" value="19.0"/></td>
                  </tr>
                  <tr class="total-100">
                    <th><label class="control-label">Herbicides</label></th>
                    <!-- Current -->
                    <td><input class="span1" type="text" name="HcA" value="23.0"/></td>
                    <td><input class="span1" type="text" name="HcB" value="53.0"/></td>
                    <td><input class="span1" type="text" name="HcC" value="20.0"/></td>
                    <td><input class="span1" type="text" name="HcD" value="4.0"/></td>
                  </tr>
                  <tr class="total-100">
                    <th><label class="control-label">Soil</label></th>
                    <!-- Current -->
                    <td><input class="span1" type="text" name="ScA" value="27.0"/></td>
                    <td><input class="span1" type="text" name="ScB" value="35.0"/></td>
                    <td><input class="span1" type="text" name="ScC" value="29.0"/></td>
                    <td><input class="span1" type="text" name="ScD" value="9.0"/></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="control-group">
              <div class="controls">
                <button class="btn" type="submit">
                  <i class="icon-bar-chart"> </i>
                  Render
                </button>
              </div>
            </div>
          </div>
          <div class="span6">
            <div>
              <div class="svg"> </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <form id="indicator-chart" class="form-horizontal">
      <fieldset>
        <legend>Indicator Chart</legend>
        <div class="row">
          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="water_quality">
                <strong>Water Quality</strong>
              </label>
              <div class="controls">
                <select class="span3" name="water_quality">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD">Very Good</option>
                  <option value="GOOD">Good</option>
                  <option value="MODERATE" selected>Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="chlorophyll_a">
                Chlorophyll &alpha;
              </label>
              <div class="controls">
                <select class="span3" name="chlorophyll_a">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD">Very Good</option>
                  <option value="GOOD">Good</option>
                  <option value="MODERATE" selected>Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="total_suspended_solids">
                Total Suspended Solids
              </label>
              <div class="controls">
                <select class="span3" name="total_suspended_solids">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD">Very Good</option>
                  <option value="GOOD">Good</option>
                  <option value="MODERATE" selected>Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <hr/>
            <div class="control-group">
              <label class="control-label" for="coral">
                <strong>Coral</strong>
              </label>
              <div class="controls">
                <select class="span3" name="coral">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD">Very Good</option>
                  <option value="GOOD">Good</option>
                  <option value="MODERATE">Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="settlement">
                Change
              </label>
              <div class="controls">
                <select class="span3" name="settlement">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD">Very Good</option>
                  <option value="GOOD">Good</option>
                  <option value="MODERATE">Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="juvenile">
                Juvenile
              </label>
              <div class="controls">
                <select class="span3" name="juvenile">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD">Very Good</option>
                  <option value="GOOD">Good</option>
                  <option value="MODERATE">Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="algae">
                Macroalgae
              </label>
              <div class="controls">
                <select class="span3" name="algae">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD">Very Good</option>
                  <option value="GOOD">Good</option>
                  <option value="MODERATE">Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="cover">
                Cover
              </label>
              <div class="controls">
                <select class="span3" name="cover">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD">Very Good</option>
                  <option value="GOOD">Good</option>
                  <option value="MODERATE">Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <hr/>
            <div class="control-group">
              <label class="control-label" for="seagrass">
                <strong>Seagrass</strong>
              </label>
              <div class="controls">
                <select class="span3" name="seagrass">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD">Very Good</option>
                  <option value="GOOD" selected>Good</option>
                  <option value="MODERATE">Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="abundance">
                Abundance
             </label>
              <div class="controls">
                <select class="span3" name="abundance">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD">Very Good</option>
                  <option value="GOOD" selected>Good</option>
                  <option value="MODERATE">Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="reproduction">
                Reproduction
              </label>
              <div class="controls">
                <select class="span3" name="reproduction">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD" selected>Very Good</option>
                  <option value="GOOD">Good</option>
                  <option value="MODERATE">Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="nutrient_status">
                Nutrient Status
              </label>
              <div class="controls">
                <select class="span3" name="nutrient_status">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD">Very Good</option>
                  <option value="GOOD">Good</option>
                  <option value="MODERATE" selected>Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <hr/>
            <div class="control-group">
              <label class="control-label" for="overall">
                <strong>Overall</strong>
              </label>
              <div class="controls">
                <select class="span3" name="overall">
                  <option value="">Not Evaluated</option>
                  <option value="VERY_GOOD">Very Good</option>
                  <option value="GOOD">Good</option>
                  <option value="MODERATE" selected>Moderate</option>
                  <option value="POOR">Poor</option>
                  <option value="VERY_POOR">Very Poor</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button class="btn" type="submit">
                  <i class="icon-bar-chart"> </i>
                  Render
                </button>
              </div>
            </div>
          </div>
          <div class="span6">
            <img class="default"/>
          </div>
        </div>
      </fieldset>
    </form>
    <script type="text/javascript">
    $('form').submit(function() {
      var serialize = $(this).serialize();
      var $img = $(this).find('img, div.svg');
      var fadeIn = function() { $img.fadeIn(200) };
      $img.on('load error', fadeIn);
      $img.fadeOut(200);
      $img.filter('div.svg').load($(this).attr('id'), serialize, fadeIn);
      $img.filter('img.default').attr('src', $(this).attr('id')+'?'+serialize);
      $img.filter('img.png').attr('src', $(this).attr('id')+'.png?'+serialize);
      return false;
    });
    $('button[type="submit"]').click();
    $('.total-100').on('change', 'input', function(event) {
      var $inputs = $(event.delegateTarget).find('input');
      var index = $inputs.index(this);
      var values = _.map($inputs, function(v) {
        return parseFloat($(v).val());
      });
      // Always alter next field to balance, except when the last cell
      var alterIndex = $inputs.size() - 1 == index ? index - 1 : index + 1;
      var total = _.reduce(values, function(m,n) { return m + n; }, 0);
      $($inputs.get(alterIndex)).val(values[alterIndex] + (100 - total));
    });
    </script>
    <!-- Running on {{#runtime}}{{name}} {{version}} {{/runtime}}-->
    </div>
  </body>
</html>