<!DOCTYPE html>
<html>
  <head>
    <title>AORRA Graph Demo</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <style type="text/css">
    form label {
        display: inline-block;
        width: 6em;
    }
    table tbody th {
      width: 6em;
    }
    #land-practice-chart td input {
      text-align: right;
      width: 4em;
    }
    </style>
  </head>
  <body>
    <h1>Chart Examples</h1>
    <form id="progress-chart">
      <fieldset>
        <legend>Progress Chart</legend>
        <label for="tl">Top Left Text</label>
        <input type="text" name="tl" value="Horticulture"/><br/>
        <label for="tr">Top Right Text</label>
        <input type="text" name="tr" value="2013 targets"/><br/>
        <label for="value">Value</label>
        <input type="text" name="value" value="42"/><br/>
        <label for="max">Max</label>
        <input type="text" name="max" value="100"/><br/>
        <label for="width">Dimensions</label>
        <input type="text" name="width" size="3"/> &times;
        <input type="text" name="height" size="3"/><br/>
        <button type="submit">Render</button>
        <hr />
        <img/>
      </fieldset>
    </form>
    <form id="land-practice-chart">
      <fieldset>
        <legend>Land Practice Chart</legend>
        <label for="tl">Title</label>
        <input type="text" name="title" value="Sugarcane Practices Chart"/><br/>
        <table>
          <thead>
            <tr>
              <th> </th>
              <th colspan="4">Previous</th>
              <th colspan="4">Current</th>
            </tr>
            <tr>
              <th> </th>
              <th>A</th><th>B</th><th>C</th><th>D</th>
              <th>A</th><th>B</th><th>C</th><th>D</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Nutrients</th>
              <!-- Previous -->
              <td><input name="NpA" value="21.0"></td>
              <td><input name="NpB" value="19.0"/></td>
              <td><input name="NpC" value="37.0"/></td>
              <td><input name="NpD" value="23.0"/></td>
              <!-- Current -->
              <td><input name="NcA" value="21.0"/></td>
              <td><input name="NcB" value="28.0"/></td>
              <td><input name="NcC" value="32.0"/></td>
              <td><input name="NcD" value="19.0"/></td>
            </tr>
            <tr>
              <th>Herbicides</th>
              <!-- Previous -->
              <td><input name="HpA" value="28.0"/></td>
              <td><input name="HpB" value="50.0"/></td>
              <td><input name="HpC" value="16.0"/></td>
              <td><input name="HpD" value="6.0"/></td>
              <!-- Current -->
              <td><input name="HcA" value="23.0"/></td>
              <td><input name="HcB" value="53.0"/></td>
              <td><input name="HcC" value="20.0"/></td>
              <td><input name="HcD" value="4.0"/></td>
            </tr>
            <tr>
              <th>Soil</th>
              <!-- Previous -->
              <td><input name="SpA" value="30.0"/></td>
              <td><input name="SpB" value="40.0"/></td>
              <td><input name="SpC" value="19.0"/></td>
              <td><input name="SpD" value="11.0"/></td>
              <!-- Current -->
              <td><input name="ScA" value="27.0"/></td>
              <td><input name="ScB" value="35.0"/></td>
              <td><input name="ScC" value="29.0"/></td>
              <td><input name="ScD" value="9.0"/></td>
            </tr>
          </tbody>
        </table>
        <button type="submit">Render</button>
        <hr/>
        <img src="land-practice-chart"/>
      </fieldset>
    </form>
    <script type="text/javascript">
    $('form').submit(function() {
      var serialize = $(this).serialize();
      $(this).find('img').attr('src', $(this).attr('id')+'?'+serialize);
      return false;
    });
    $('button[type="submit"]').click();
    </script>
    <footer>Running on {{#runtime}}{{name}} {{version}}{{/runtime}}</footer>
  </body>
</html>